

.conf {

    font-size: 18px;
    top: 30px;
    // z-index: 1;
    // position: absolute;
    // top: 160px;
    // left: 10px;
    // content: "ON";
}

.esquecisenha {
    position: relative;
    align-content: center;
    padding-left: 10px;
    top: 165px;
}
