ion-toolbar {
    --ion-color-primary: #00693e;
    --ion-color-primary-rgb: 0, 105, 62;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #00923f;
    --ion-color-primary-tint: #349c64;
}

.conf {

    font-size: 18px;
    top: 30px;
    // z-index: 1;
    // position: absolute;
    // top: 160px;
    // left: 10px;
    // content: "ON";
}