ion-grid {
  .name-tabela {
    text-align: center;
    padding: 20px;
   
  }
}

ion-grid {
  .schedulesChap {
    text-align: center;
    margin-top: 0px;
    // border-bottom: solid 1px #00923f;
  }
}

// ion-col {
//   .dates-semana{ 
//     // border-bottom: solid 1px #00923f;
//     border-left: 2px solid red;
//     border-right: 2px solid red;
//   }
// }

ion-footer {
  .text-center {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: 0px; /* the height of the centered content */
    text-align: center;
  }
}

ion-footer {
  --ion-color-primary: white;
  --ion-color-primary-rgb: 0, 105, 62;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: white;
  --ion-color-primary-tint: white;
}
