<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Auto Viação
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- colocar logo da avchap -->
<!-- <div class="name-tabela">
  <h2>Linha 24 - Universidade Federal</h2>
</div> -->

<ion-content padding>
  <ion-grid>

    <div class="name-tabela">
      <h2>Periodo Matutino</h2>
    </div>

    <div class="schedulesChap">
      <ion-row>
        <ion-col style=" border-bottom: solid 1px #00923f">Segunda à Sexta</ion-col>
        <ion-col style=" border-bottom: solid 1px #00923f">Linha</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>04:15 </ion-col>
        <ion-col>-</ion-col>
       
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>06:35 </ion-col>
        <ion-col>Ret Vila Mantelli</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>06:43 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>06:52 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>06:59 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>07:05 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>07:10 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>07:20 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>07:27 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>07:35 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>07:45 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>08:15 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>09:15 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>10:20 </ion-col>
        <ion-col>Ret 10:55</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>10:50 </ion-col>
        <ion-col>Ret 11:35</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>11:10 </ion-col>
        <ion-col>Uno Ret.</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>11:25 </ion-col>
        <ion-col>Ret. 12:10</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>11:25 </ion-col>
        <ion-col>Saida da UFFS</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>11:55 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>12:35 </ion-col>
        <ion-col>Via Uno</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>12:40 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>12:55 </ion-col>
        <ion-col>Via Uno</ion-col>
      </ion-row>
    </div>
    <!--====================================== /matutino ========================================-->

    <!--===================================== Vespertino ========================================-->
    <div class="name-tabela">
      <h2>Periodo Vespertino</h2>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col style=" border-bottom: solid 1px #00923f">Segunda à Sexta</ion-col>
        <ion-col style=" border-bottom: solid 1px #00923f">Linha</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>13:40 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>14:30 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>15:50 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>16:00 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>16:25 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>16:45 </ion-col>
        <ion-col>via Uno</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>17:15 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>17:30 </ion-col>
        <ion-col>via Uno</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>17:40 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>17:50 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>17:55</ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    
    <!--====================================== /Vespertino =========================================-->

    <!--====================================== Noturno =============================================-->
    <div class="name-tabela">
      <h1>Periodo Noturno</h1>
    </div>
     <div class="schedulesChap">
      <ion-row>
        <ion-col style=" border-bottom: solid 1px #00923f">Segunda à Sexta</ion-col>
        <ion-col style=" border-bottom: solid 1px #00923f">Linha</ion-col>
      </ion-row>
     </div>
     <div class="schedulesChap">
       <ion-row>
         <ion-col>18:05 </ion-col>
         <ion-col>-</ion-col>
       </ion-row>
     </div>
     <div class="schedulesChap">
       <ion-row>
         <ion-col>18:10 </ion-col>
         <ion-col>-</ion-col>
       </ion-row>
     </div>
     <div class="schedulesChap">
       <ion-row>
         <ion-col>18:20 </ion-col>
         <ion-col>-</ion-col>
       </ion-row>
     </div>
     <div class="schedulesChap">
       <ion-row>
         <ion-col>18:30 </ion-col>
         <ion-col>-</ion-col>
       </ion-row>
     </div>
     <div class="schedulesChap">
       <ion-row>
         <ion-col>18:40 </ion-col>
         <ion-col>-</ion-col>
       </ion-row>
     </div>
     <div class="schedulesChap">
      <ion-row>
        <ion-col>19:15 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>20:15 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>20:45 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>21:10 </ion-col>
        <ion-col>via Uno</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>22:15 </ion-col>
        <ion-col>Saida da UFFS</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>22:20 </ion-col>
        <ion-col>Saida da UFFS</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>22:25 </ion-col>
        <ion-col>Saida da UFFS</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>22:30 </ion-col>
        <ion-col>Saida da UFFS</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>22:33 </ion-col>
        <ion-col>Saida da UFFS</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>22:45 </ion-col>
        <ion-col>Saida da UFFS</ion-col>
      </ion-row>
    </div>
     <!--======================================== /Noturno ========================================== -->
     <!--======================================== Aos sabados======================================== -->
    <div class="name-tabela">
      <h1>Sábados</h1>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col style=" border-bottom: solid 1px #00923f">Horarios</ion-col>
        <ion-col style=" border-bottom: solid 1px #00923f">Linha</ion-col>
      
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>06:30 </ion-col>
        <ion-col>Ret 07:25 Mantelli</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>07:00 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>07:30 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>09:15 </ion-col>
        <ion-col>Uno ret</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>10:15 </ion-col>
        <ion-col>Uno ida</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>10:45 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>11:30 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>13:05 </ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
    <div class="schedulesChap">
      <ion-row>
        <ion-col>16:40</ion-col>
        <ion-col>-</ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <ion-footer>
    <ion-toolbar color="primary">
      <div class="text-center">
        <p>Disponibilizado pela Auto Viação Chapecó</p>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>

  

