<ion-content padding>

  <div class="container">
    <img class="img-responsive" src="assets/img/UFFS.png" alt="image" />

    <!-- Esses dois inputs, 'senha e matricula' recebem os mesmos nomes das variaveis declaradas no arquivo login.page.ts
    e o botão quando clicado (click) 'chama' a função login que faz toda a verificação na login.page.ts-->
    <ion-item class="inputs ion-no-padding">
      <ion-input 
      [(ngModel)]="matricula" 
      type="text" 
      autocorrect="off" 
      clear-input="true" 
      placeholder="IDUFFS" 
      ngModel required></ion-input>
    </ion-item>

    <ion-item class="inputs ion-no-padding">
      <ion-input 
      [(ngModel)]="senha" 
      name="password" 
      [type]="showPassword ? 'text' : 'password'"
      clear-input="true" 
      placeholder="Senha" 
      ngModel required></ion-input>

      <ion-icon 
      (click)="togglePasswordFieldType()" 
      [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
    </ion-item>

    <ion-item class="lembrar inputs ion-no-padding" lines="none">
      <ion-checkbox ng-model="isCheckedCommercial"></ion-checkbox>
      <ion-label class="textocheck">
        Lembrar matrícula
      </ion-label>
    </ion-item>

    <div class="login inputs">
      <ion-button 
      type="submit" 
      (click)="login()" 
      expand="block" 
      shape="undefined" 
      fill="solid">Entrar</ion-button>
    </div>

    <div>
      <ion-button 
      size="small" 
      type="submit" 
      expand="full" 
      fill="clear">Esqueceu sua senha?</ion-button>
    </div>
  </div>
</ion-content>
