:root {
  --ion-color-white: #2e2929;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #ffffff;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}
.ion-color-white {
  --ion-color-base: #2a2727;
  --ion-color-base-rgb: #2e2929;
  --ion-color-contrast: #2a2929;
  --ion-color-contrast-rgb: #2e2929;
  --ion-color-shade: #2e2929;
  --ion-color-tint: #2e2929;
}
.Logo {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10;
  text-align: center;
}
.matricula {
  
  display: inline-block;
  position: relative;
  height: 60;
  border: 0px solid rgb(238, 22, 22);
  background-color: lightblue;
  position: relative;
  padding-bottom: 0px;
  top: 100px;
  left: 20%;
}

.form-login{
  position: relative;
  align-content: center;
  vertical-align: middle;
  width: 250px;
  padding-left: 5%;

}
.senha {
  left: 10%;
  display: inline-block;
  border: 0px solid rgb(200, 14, 14);
  background-color: lightblue;
  position: relative;
  padding-bottom: 0px;
  top: 108px;
  left: 20%;
}
.login {
  border: 0px solid rgb(212, 5, 5);
  display: inline-block;
 
  position: relative;
  padding-bottom: 0%;
  top: 140px;
  padding-left: 30%;
}

.lembrar {
  align-content: center;
  margin-top: auto;
  margin-left: auto;
  position: relative;
  padding-bottom: 0%;
  height: 50px;
  top: 120px;
  left: 45px;
  
}
.labelcheck{
 
  position: relative;
  align-content: center;
  padding-left: 20px;

}
