<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      RU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardru">
    <ion-card-header>
      <ion-card-subtitle>Campus Chapecó</ion-card-subtitle>
      <ion-card-title style="font-size:22px">Restaurante Universitário</ion-card-title>
    </ion-card-header>
    <img src="assets\img\RU.jpeg" />
    <ion-card-content>
      Horário de funcionamento: Segunda a sexta-feira, das 11h15 às 13h e das 17h40 às 19h15.
      Venda de tickets: Segunda a sexta-feira, das 11h às 13h e 17h30 às 19h15.
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="codigobarra()">Código de barras de usuário</ion-button>
  <ion-button expand="full" (click)="cardapio()">Cardápio RU da semana</ion-button>
</ion-content>