<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      RU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p style="font-weight: bold; font-size: 30px; color: rgb(255, 255, 255);" absolute-drag>
    Campus Chapecó
  </p>
  <p style="font-weight: bold; font-size: 15px; color: white;" absolute-drag>
    Horário de funcionamento: Segunda a sexta, das 11h15 às 13h e das 17h40 às
    19h15. Venda de tickets: de segunda a sexta, das 11h às 13h e 17h30 às
    19h15.
  </p>
  <p style="font-weight: bold; font-size: 15px; color: white;" absolute-drag>Os preços variam conforme abaixo informado:
  </p>
  <p style="font-weight: bold; font-size: 15px; color: white;" absolute-drag>Estudantes: R$2,50.</p>
  <p style="font-weight: bold; font-size: 15px; color: white;" absolute-drag>Funcionários e tercerizados UFFS: R$9,00.
  </p>
  <p style="font-weight: bold; font-size: 15px; color: white;" absolute-drag>Publico em geral: R$12,82.</p>
  <img class="classcodigo" src="assets/img/codigobarra.jpg" alt="image" />
  <p style="font-weight: bold; font-size: 10 px; color: white;" absolute-drag>
    Contato: email: ru.ch@uffs.edu.br Telefones: (49)2049-6496/(49)2049-6497
  </p>
</ion-content>