<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Info UFFS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- logo da uffs -->
  <img class="img-responsive" src="assets/img/UFFS.jpg" alt="image">
  <p class='text-center'>A Universidade Federal da Fronteira Sul é uma instituição de ensino superior 
      pública brasileira sediada na cidade de Chapecó, em Santa Catarina, e com 
      campi nas cidades de Cerro Largo, Erechim, Laranjeiras do Sul, Passo Fundo e Realeza.
  </p>

  <!--logo do DCE -->
  <img class="img-responsive2" src="assets/img/dce_logo.png" alt="image">
  <p class='text-center2'> Diretório Central dos Estudantes (DCE) da Universidade Federal da Fronteira Sul - UFFS Campus Chapecó - SC.</p>

  <!-- logo da fronteiratec -->
  
  <img class="img-responsive3" src="assets/img/fronteiratec.jpeg" alt="image">
  <p class='text-center3'>Aplicativo desenvolvido pela empresa junior, conhecida como Fronteiratec que 
    atua desde 2014 na universidade.</p>
  
    
  
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>© Copyright 2021</ion-title>
  </ion-toolbar>
</ion-footer>
