<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>

     Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- logo da uffs -->
  <img class="img-responsive" src="assets/img/logo_completo_fronteira.png" alt="image">
  <p class='text-center3'>Aplicativo desenvolvido pela empresa junior, conhecida como Fronteiratec que 
    atua desde 2014 na universidade.</p>

  
  
    
  
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>© Copyright 2021</ion-title>
  </ion-toolbar>
</ion-footer>
